@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

/************************ navbar styling **************************/
.navbar {
  height: 4rem;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.navbar h1 {
  color: #fff;
  font-size: 3rem;
}

/************************ main container styling **************************/
.main_container_div {
  max-width: 900px;
  margin: 2rem auto;
  display: flex;
  gap: 1rem;
}

/************************ input container styling **************************/

.input_container_div {
  flex-basis: 50%;
}

.bill_amount_rupee_input_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rupee_symbol {
  font-size: 1.75rem;
  margin-right: 0.15rem;
}

.inputs_div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.inputs_div input {
  border: none;
  outline: none;
  background-color: rgba(128, 0, 128, 0.6);
  color: #000;
  width: 100%;
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1.75rem;
}

.inputs_div label {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}

/* it will hide the
up & down arrows inside
the input element */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.default_btn_label {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}

.default_tip_buttons_div {
  display: flex;
  justify-content: space-between;
}

.default_tip_btn {
  font-size: 1.25rem;
  padding: 0.75rem;
  background-color: purple;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.25rem;
}

#generate_bill_btn {
  width: 100%;
  padding: 1rem;
  background-color: purple;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}

/************************ output container styling **************************/
.output_container_div {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: purple;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
}

.outputs_div {
  display: flex;
  justify-content: space-between;
}

.outputs_div > span {
  font-size: 1.75rem;
}

#reset_bill_btn {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}

/************************ responsiveness **************************/
@media (max-width: 1000px) {
  .navbar {
    padding: 4rem 0;
  }

  .navbar h1 {
    font-size: 5rem;
  }

  .main_container_div {
    flex-direction: column;
    max-width: 600px;
  }

  .input_container_div {
    margin-bottom: 2rem;
  }

  .outputs_div {
    margin-bottom: 4rem;
  }

  .default_tip_buttons_div {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .default_tip_btn {
    font-size: 2rem;
  }
}

/************************ responsiveness **************************/
@media(max-width:650px) {
  .navbar {
    padding: 2.5rem 0;
  }

  .navbar h1 {
    font-size: 3rem;
  }

  .main_container_div {
    max-width: 425px;
  } 

  .default_tip_buttons_div {
    gap: 0.5rem;
  }

  .default_tip_btn {
    font-size: 1.25rem;
  }
}

/************************ responsiveness **************************/
@media(max-width:450px) {
  .inputs_div input {
    font-size: 1.25rem;
    padding: 0.5rem;
  }

  .inputs_div label ,
  .default_btn_label {
    font-size: 1.5rem;
  }

  .main_container_div {
    max-width: 315px;
  } 

  .default_tip_buttons_div {
    gap: 0.25rem;
  }

  .default_tip_btn {
    font-size: 0.75rem;
  }

  #generate_bill_btn ,
  #reset_bill_btn {
    font-size: 1.25rem;
    padding: 0.5rem;
  }

  .outputs_div {
    margin-bottom: 2.5rem;
  }

  .outputs_div > span {
    font-size: 1.25rem;
  }

}